export(
fdepth,
fd,
fts,
fboxplot,
foutliers,
plot.fd,
plot.fdepth
)


S3method(plot,fd)
S3method(plot,fdepth)
S3method(lines,fd)
S3method(points,fd)
S3method(print,fts)
S3method(print,fd)



import(grDevices)

importFrom(stats)







